html{
    box-sizing: border-box;

}
body{
    background-image: url(assets/bg.jpg);
}
*,*::after, *::before{
    box-sizing: inherit;
}

#container{
    width: 1000px;
    margin: auto;

}

#menu{
    display: flex;
    padding:0;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#menu li a{
    display:block;
    width: 240px;
    height: 30px;
    color: white;
    background: rgb(170, 36, 41);
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid lightgray;
    line-height: 30px;
    position: relative;
}
#menu li a::after{
    content: "-";
    position: absolute;
    right: 35px;
}

#menu li a::before{
    content: "-";
    position: absolute;
    left: 25px;
}
.social{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
}
.social img{
    width: 50px;
    height: 50px;
}
.sub{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    color: white;
    outline: 0;
    cursor: pointer;
}
#toppic{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1000px;
    height:300px;
    overflow:hidden;
    padding-top: 190px;
    position: relative;
    border: 7px solid white;
}
.main-pic{
    width: 100%;
    position: absolute;
    z-index: 0;
}

.peralta-logo{
    padding: 10px;
    padding-bottom: 220px;
    position: absolute;
    z-index: 3;
}

.grid{
    opacity: .25;
    position: absolute;
    padding-bottom: 220px;
    z-index: 2; 
}

#articles{
    display: flex;
    flex-direction: row;
    
    

}
.article{
    display: block;
    background: white;
    padding: 20px;
    margin-top: 20px;

}

#articles .article:nth-child(1){
    margin-right: 20px;
    
}
#articles .article:nth-child(2){
    margin-right: 20px;
}
.readmore{
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: rgb(170, 36, 41)
}
.ray h1{
    min-height: 85px;
}
.article h4{
    color: gray;
}

#skaters div {
    height:195px;
    width:330px;
    background:black;
    color:white;
    float:left;
    margin:5px;
    text-align: cemter;
    position: relative;
    border: white solid 3px;
    
  }
  
  #skaters div:nth-child(1){
      background-image: url("assets/sk8er-4.png");
      background-repeat: no-repeat;
      background-position: 100% 0%;
      text-align: center;
      font-size: 50px;

      
  }
  #skaters div:nth-child(2){
      background-image: url("assets/sk8er-3.png");
      width: 310px;
      margin-left: 5px;
      text-align: center;
      font-size: 50px;
    } 
  #skaters div:nth-child(3) {
      background-image: url("assets/sk8er-1.png");
      width:650px;
      background-position: 100% 60%;
      background-size: auto;
      text-align: center;
      font-size: 50px;
      
  }
  #skaters div:nth-child(4) {
      background-image: url("assets/sk8er-2.png");
    height:400px;
    margin-top:-200px;
    margin-left: 5px;
    background-position-x: right;
    text-align: center;
    font-size: 50px;
}

.boards{
    margin-top: 90px;
    background: white;
    width: 100%;
    
    
}

#formsheet{
    background: white;
    margin-top: 40px;
    width: 1000px;
    padding-bottom: 100px;
}

.contact{
    background: white;
    font-size: 8px;
    float: left;
    clear: left;
    text-align: center;
    width: 300px;
    height: 150px;

}

.forms{
    background: white;
    display: block;
    width: 700px;
    height: 150px;
    float: right;
}
